<p id="notice"><%= notice %></p>

<h1>Transferencias</h1>
<%= link_to 'New Movement', new_movement_path,  class:"btn btn-success" %>
<br><br>
<div class="container">
  <div class="row center"> 
    <div class="table-responsive">
    <table class="table text-center" border="1">
      <thead>
        <tr style="background-color: #BCF5A9;">
          <th colspan="4" class="text-center">Diario General</th>
          <th class="text-center">Hoja 1</th>
        </tr>
        <tr class="text-center">
          <th class="text-center tb-row">Fecha</th>
          <th class="text-center tb-row">Detalle </th>
          <th class="text-center tb-row">Referencia</th>
          <th class="text-center tb-color3">Debe</th>
          <th class="text-center tb-row2">Haber</th>
        </tr>
      </thead>

      <tbody>
        <% @movements.each do |movement| %>
            <% @ban = 1%>
            <%- movement.deals.each do |deal| %>
              <tr>
                <%- if @ban == 1  %>
                  <td class="tb-row"><%= movement.fecha %></td>
                <%- else %>
                  <td class="tb-row"></td>
                <% end %>
                
                <%- @account = Account.find(deal.account_id) %>
                <td class="tb-row"> <%= @account.name %></td>
                <td class="tb-row"> <%= @account.codigo %></td>
                <%-if deal.tipo == 1 %>
                  <td class="tb-color3"><%=  deal.monto %></td>
                  <td class="tb-row2"></td>
                <%- else  %>
                  <td class="tb-color3"></td>
                  <td class="tb-row2"><%=  deal.monto %></td>
                <%- end  %>
              </tr>
              <% @ban+=1%>
            <%- end %>         

          <tr> 
            <td colspan="5" class="tb-row4"><%=movement.comentario %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>
</div>





