<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @movement.fecha %>
</p>

<p>
  <strong>Comentario:</strong>
  <%= @movement.comentario %>
</p>

<%= link_to 'Edit', edit_movement_path(@movement) %> |
<%= link_to 'Back', movements_path %>
